body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px, "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

a {
    text-decoration: none;
}

div {
    display: block;
}















/*div{
    display: block;
}*/


/**    header 头部分     **/

.header {
    position: relative;
    height: 40px;
    font-size: 12px;
    background: #333;
    color: #b0b0b0;
    width: 100%;
}

.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.header-content {
    width: 100%;
    margin: 0 auto;
}

.header-nav {
    float: left;
    height: 40px;
    line-height: 40px;
}

.header-nav a {
    color: #b0b0b0;
    padding-left: 5px;
    text-decoration: none;
}

.header-nav a:hover {
    color: #ffffff;
}

.header-cart {
    width: 120px;
    margin-left: 15px;
}

#topcart {
    position: relative;
    float: right;
    height: 40px;
}

.top-cart-content {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}

.top-info {
    line-height: 40px;
    height: 40px;
    position: relative;
    float: right;
}

.top-info a {
    color: #b0b0b0;
    padding-left: 5px;
}

.top-info a:hover {
    color: #ffffff;
}















/**      第二部分      **/

.stip-header {
    position: relative;
    z-index: 20;
    height: 100px;
}

.stip-header-top {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 1226px;
}

.logo {
    margin-top: 22px;
    float: left;
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    _zoom: 1;
    background-color: #ff6700;
}



.stip-header-nav {
    float: left;
    width: 700px;
}

.stip-header-ul {
    position: relative;
    z-index: 10;
    float: left;
    width: 700px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}

.stip-header-li {
    float: left;
}

.stip-header-li a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    text-decoration: none;
}

.stip-header-li a:hover {
    color: #ff6700;
}


.stip-header-search {
    float: right;
    width: 252px;
    margin-top: 22px;
}

.from-search {
    position: relative;
    width: 252px;
    height: 50px;
}

.search-text {
    position: relative;
    float: left;
    top: 0;
    z-index: 1;
    width: 200px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-color: #b0b0b0;
}

.search-btn {
    position: absolute;
    z-index: 2;
    width: 52px;
    height: 46px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-align: center;
    line-height: 48px;
}

.search-hot-word {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

















/**  轮播图开始  **/

.home {
    position: relative;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.home-top {
    position: relative;
    margin-bottom: 26px;
    height: 140px;
}

.home-sub {
    margin-top: 14px;
}

.home-sub-ul {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
}

.home-sub-li {
    float: left;
    position: relative;
    color: #fff;
    height: 70px;
    line-height: 70px;
    width: 70px;
    display: inline-block;
}

.home-sub-li a {
    background: #5f5750;
    color: #fff;
    display: block;
}


.home-sub-img-ul li {
    float: left;
    width: 316px;
    height: 170px;
}

.home-sub-img-ul a {
    display: block;
    height: 170px;
}














/*小米闪购*/

.xg {
    display: block;
}

.xg-title {
    height: 50px;
    position: relative;
}

.title {
    font-size: 22px;
    color: #333;
    line-height: 50px;
    font-weight: 200px;
}

.more {
    display: block;
}

.box-sg {
    position: relative;
    width: 1226px;
}

.box-sg-time {
    width: 170px;
    margin: 20px auto;
}

.box-sg-time-hour {
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    background: #605751;
    font-size: 24px;
    float: left;
}

.box-sg-time-colon {
    width: 16px;
    height: 46px;
    color: #605751;
    line-height: 46px;
    float: left;
    font-size: 24px;
}

.item1 {
    float: left;
    position: relative;
    border-top-color: #ffac13;
    border-top-width: 2px;
    height: 340px;
    border-top-style: solid;
    width: 234px;
    margin-left: 10px;
    background: #fafafa;
}

.item-a {
    margin: 0 auto 22px;
    display: block;
    width: 160px;
    margin-top: 39px;
}

.item-a img {
    width: 160px;
    height: 160px;
}

.item p {
    text-align: center;
}

.item1-title {
    text-align: center;
    color: #212121;
}

.item1-comments {
    text-align: center;
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.item-position {
    position: absolute;
    width: 234px;
    height: 340px;
}








/* 横幅 */

.body-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-item-img {
    width: 1226px;
    height: 120px;
}














/* 第四部分 */


/*手机*/

.page-home {
    background: #f5f5f5;
    padding-bottom: 50px;
}

#phone {
    height: 686px;
}

#phone-title {
    height: 58px;
}

#phone-title a {
    height: 58px;
    line-height: 58px;
    text-decoration: none;
}

#phone-title a:hover {
    color: #ffac13;
}

.phone-li-li {
    position: relative;
    float: left;
    width: 234px;
}

.phone-item {
    height: 300px;
    width: 224px;
    float: left;
    margin-left: 20px;
    margin-bottom: 14px;
    background: #fff;
}

.title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
}

.price {
    color: #ff6700;
    text-align: center;
}

del {
    color: #b0b0b0;
    text-decoration: line-through;
}







/* 家电 */

.appliances {
    height: 672px;
}

.appliances-title {
    height: 58px;
    line-height: 58px;
}

.appliances-title h2 {
    display: inline;
}

.appliances-title ul {
    float: right;
}

.appliances-title li {
    float: left;
    font-size: 20px;
    margin-left: 15px;
}

.appliances-tables {
    border-bottom: 2px solid #ff6700;
}

.appliances-ul li {
    float: left;
}

.appliances-li {
    margin-left: 14px;
}

.appliances-ul-div {
    position: relative;
    height: 300px;
    width: 234px;
    background: #fff;
}

.appliances-ul-img {
    width: 150px;
    margin: 0 auto 18px;
    padding-top: 12px;
}

.hot-review-title {
    height: 58px;
    line-height: 58px;
}

.hot-review-ul {
    height: 415px;
}

.hot-review-li {
    width: 296px;
    float: left;
    background: #fff;
    height: 415px;
}

.li-margin-left {
    margin-left: 14px;
}

.hot-review-comment {
    height: 72px;
    line-height: 24px;
    font-size: 14px;
    margin: 28px 22px;
}

.hot-review-author {
    margin-left: 22px;
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 15px;
}

.hot-review-name {
    font-size: 16px;
}

.hot-review-price {
    font-size: 16px;
    color: #ff6700;
}

.books-title {
    height: 58px;
    line-height: 58px;
    margin-left: 14px;
    font-size: 25px;
}

.book-ul {
    width: 1226px;
    height: 420px;
}

.book-li {
    float: left;
    height: 420px;
    width: 296px;
    background: #fff;
    border-top-width: 2px;
    border-top: 2px solid #ffac13;
}

.book-top {
    margin-top: 10px;
    font-weight: 400px;
    text-align: center;
    font-size: 20px;
    color: #ffac13;
}

.book-name {
    margin-top: 30px;
    font-weight: 400px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.book-content {
    font-weight: 400px;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 12px;
}

.book-price {
    font-weight: 400px;
    text-align: center;
    font-size: 14px;
    color: #ff6700;
    margin-top: 20px;
}

.book-img {
    width: 296px;
    text-align: center;
    padding-top: 20px;
}




/*  脚部分  */

.footservice {
    width: 1226px;
    background: #fff;
    margin: 0 auto;
    padding: 27px 0;
}

.footservice li {
    width: 244px;
    float: left;
    text-align: center;
}

.footservice a {
    font-size: 16px;
}

.footlinks {
    width: 1226px;
    padding: 40px 0;
    height: 152px;
    margin: 0 auto;
}

.foot-links-dl {
    width: 160px;
    float: left;
    height: 112px;
}

.foot-links-contact {
    width: 251px;
    float: left;
    height: 112px;
    border-left: 1px solid #e0e0e0;
}

.foot-links-dl dt {
    font-size: 14px;
    color: #424242;
}

.foot-links-dl dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.foot-links-dl a {
    color: #757575;
}